@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Public Sans", "DM Serif Display", sans-serif;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 56px;
  padding-bottom: 74px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  max-width: 135px;
}

.header__list {
  padding-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item + .header__item {
  margin-left: 40px;
}

.header__sup_link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.7;
}
.header__sup_link:hover {
  opacity: 0.9;
}

.header__inner_link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  padding: 16px 24.5px 14px 26.5px;
  background: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}
.header__inner_link:hover {
  background-color: #DA6D97;
}

.btn {
  display: none;
}

@media screen and (max-width: 670px) {
  .btn {
    display: inline-block;
  }
  .sup_btn {
    width: 28px;
    height: 3px;
    background: #36536B;
    margin-bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    border-radius: 1.5px;
  }
  .header__sub_link {
    display: none;
  }
  .header__sup_link {
    display: none;
  }
  #site-header {
    background-repeat: no-repeat;
    background-image: url("../img/hero-mobile-bg-img.svg");
    background-size: cover;
  }
}
body {
  background-repeat: no-repeat;
  background-image: url("../../img/hero-bg-img.png");
  background-position: right top;
  background-size: contain;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  color: #36536B;
  max-width: 546px;
  padding-bottom: 21px;
}

.hero__input {
  -webkit-box-shadow: 10px 10px 10px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 10px -10px rgba(54, 83, 107, 0.25);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 27px;
  padding-right: 103px;
  background-color: #EDF3F8;
  border: none;
}
.hero__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.hero__input::-moz-placeholder {
  opacity: 0.5;
}
.hero__input:-ms-input-placeholder {
  opacity: 0.5;
}
.hero__input::-ms-input-placeholder {
  opacity: 0.5;
}
.hero__input::placeholder {
  opacity: 0.5;
}

.hero__link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  padding: 16px 24.5px 14px 26.5px;
  background: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-left: -30px;
}
.hero__link:hover {
  background-color: #DA6D97;
}

.hero__text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.7;
  padding-top: 16px;
}

span {
  opacity: 1;
}

.hero__sup_img {
  border-radius: 30px;
  max-width: 263px;
  padding-bottom: 75px;
}

@media screen and (max-width: 885px) {
  body {
    background-image: url("../img/hero-tablet-img.png");
    background-position: center top;
    background-size: cover;
  }
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__title {
    font-size: 48px;
    line-height: 56px;
    max-width: 523px;
    padding-bottom: 22px;
    padding-top: 48px;
    text-align: center;
  }
  .hero__sup_img {
    max-width: 159px;
    padding-top: 62px;
  }
  .hero__text {
    text-align: center;
    padding-bottom: 99px;
  }
}
@media screen and (max-width: 670px) {
  .hero__title {
    font-size: 32px;
    line-height: 36px;
    max-width: 310px;
    padding: 24px 0 24px 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 511px) {
  .hero__address {
    text-align: center;
  }
  .hero__input {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-right: 158px;
    max-width: 327px;
  }
  .hero__link {
    margin-top: 16px;
    padding: 16px 105px 14px 105px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__text {
    padding-top: 24px;
    padding-bottom: 99px;
  }
}
#work {
  background-color: #1B262F;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 670px;
  background-image: url("../img/work-bg-img.svg");
}

.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.work__title {
  max-width: 445px;
  padding-bottom: 24px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #FBFCFE;
}

.work__text {
  max-width: 445px;
  padding-bottom: 32px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #FBFCFE;
  opacity: 0.7;
}

.work__link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FBFCFE;
  padding: 16px 32px 14px 32px;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
}

.work__link:hover {
  color: #1B262F;
  background-color: #fff;
}

.work__icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 185px;
  padding-bottom: 184px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 536px;
}

.work__item {
  max-width: 145px;
  margin-bottom: 62px;
}

@media screen and (max-width: 1030px) {
  #work {
    background-image: none;
  }
  .work__block {
    background-repeat: no-repeat;
    background-image: url("../img/work-tablet-img.png");
    background-position: center top;
    background-size: contain;
  }
  .work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .work__icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 72px;
    max-width: 536px;
  }
  .work__content {
    padding-top: 64px;
    padding-bottom: 88px;
    text-align: center;
  }
  .work__title {
    max-width: 457px;
  }
  .work__text {
    max-width: 456px;
    text-align: center;
  }
}
.implement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  padding-bottom: 70px;
}

.implement__img {
  max-width: 445px;
}

.implement__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #36536B;
  max-width: 445px;
  padding-bottom: 24px;
}

.implement__text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
  max-width: 445px;
}

@media screen and (max-width: 980px) {
  .implement__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .implement__img {
    max-width: 391.73px;
    padding-bottom: 48px;
  }
  .implement__title {
    max-width: 573px;
    text-align: center;
  }
  .implement__text {
    max-width: 573px;
    text-align: center;
  }
}
@media screen and (max-width: 615px) {
  .implement__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .implement__img {
    max-width: 328px;
  }
}
@media screen and (max-width: 455px) {
  .implement__title {
    max-width: 327px;
  }
  .implement__text {
    max-width: 328px;
  }
}
#simple {
  background-repeat: no-repeat;
  background-image: url("../img/simple-bg-img.svg");
  background-position: right top;
}

.simple__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 140px;
  padding-bottom: 140px;
}

.simple__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #36536B;
  max-width: 445px;
  padding-bottom: 24px;
}

.simple__text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
  max-width: 445px;
}

.simple__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simple__sup_img {
  max-width: 263px;
  margin-left: 45px;
  border-radius: 30px;
}

@media screen and (max-width: 1075px) {
  #simple {
    background-image: none;
  }
  .simple__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .simple__img {
    padding-bottom: 48px;
  }
  .simple__sup_img {
    -webkit-box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
            box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
    max-width: 165px;
    margin-left: 45px;
    border-radius: 30px;
  }
  .simple__content {
    text-align: center;
  }
  .simple__title {
    max-width: 573px;
  }
  .simple__text {
    max-width: 573px;
  }
}
@media screen and (max-width: 575px) {
  .simple__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .simple__sup_img {
    max-width: 148px;
    margin-left: 27px;
  }
  .simple__title {
    max-width: 372px;
  }
  .simple__text {
    max-width: 372px;
  }
}
.list__container {
  padding-top: 6px;
  padding-bottom: 96px;
}

.list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item {
  max-width: 350px;
  text-align: center;
}
.list__item::before {
  content: "";
  width: 106px;
  height: 106px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/list-img1.svg");
  background-position: center;
}

.item2::before {
  content: "";
  width: 106px;
  height: 106px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/list-img2.svg");
  background-position: center;
}

.item3::before {
  content: "";
  width: 106px;
  height: 106px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/list-img3.svg");
  background-position: center;
}

.list__title {
  padding-top: 32px;
  padding-bottom: 16px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #36536B;
}

.list__text {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #6C8294;
}

@media screen and (max-width: 1080px) {
  .list__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .list__item {
    max-width: 223px;
  }
  .list__title {
    max-width: 223px;
  }
  .list__text {
    max-width: 223px;
  }
}
@media screen and (max-width: 765px) {
  .list__container {
    padding-top: 80px;
    padding-bottom: 32px;
  }
  .list__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list__item {
    max-width: 328px;
  }
  .list__title {
    max-width: 328px;
  }
  .list__text {
    max-width: 328px;
    padding-bottom: 48px;
  }
}
.block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 96px;
}

.block__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #36536B;
  max-width: 445px;
}

.block__input {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 27px;
  padding-right: 103px;
  background-color: #EDF3F8;
  border: none;
}
.block__input::-webkit-input-placeholder {
  opacity: 0.5;
}
.block__input::-moz-placeholder {
  opacity: 0.5;
}
.block__input:-ms-input-placeholder {
  opacity: 0.5;
}
.block__input::-ms-input-placeholder {
  opacity: 0.5;
}
.block__input::placeholder {
  opacity: 0.5;
}

.block__link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  padding: 16px 24.5px 14px 26.5px;
  background: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-left: -30px;
}
.block__link:hover {
  background-color: #DA6D97;
}

@media screen and (max-width: 840px) {
  .block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 100px;
  }
  .block__title {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 511px) {
  #site-footer {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../img/footer-mobile-img.png");
    background-size: cover;
  }
  .block__container {
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
  }
  .block__input {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-right: 158px;
    max-width: 327px;
    margin-bottom: 16px;
    padding-left: 20px;
  }
  .block__link {
    padding: 16px 105px 14px 105px;
    margin-left: 0;
  }
}
#sita-footer {
  background-color: #1B262F;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 64px;
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  opacity: 0.7;
}
.footer__link:hover {
  opacity: 1;
}

.footer__icon_link + .footer__icon_link {
  margin-left: 24px;
}

.footer__icon_link:hover {
  background-color: #DA6D97;
}

@media screen and (max-width: 650px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 55px;
    text-align: center;
  }
  .footer__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 43px;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
    padding-top: 43px;
  }
  .footer__item + .footer__item {
    margin-left: 0px;
  }
  .footer__item {
    padding-bottom: 31px;
  }
}/*# sourceMappingURL=main.css.map */