html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    box-sizing: inherit;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    width: 100%;
    height: auto;
}
body{
    font-family: 'Public Sans','DM Serif Display', sans-serif;
    // font-family: 'DM Serif Display', serif;
    height: 100vh;
    margin: 0;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}