body{
    background-repeat: no-repeat;
    background-image: url('../../img/hero-bg-img.png');
    background-position: right top;
    background-size: contain;
}
.hero__container{
    @include flex;
}
.hero__title{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    color: #36536B;
    max-width: 546px;
    padding-bottom: 21px;
}
.hero__input{
    box-shadow: 10px 10px 10px -10px rgba(54, 83, 107, 0.25);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 27px;
    padding-right: 103px;
    background-color: #EDF3F8;
    border: none;
  

    &::placeholder{
        opacity: 0.5;
    }
}
.hero__link{
    @include btn;
    margin-left: -30px;

    &:hover{
        background-color:$btn-hover-color;
    }
}
.hero__text{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    opacity: 0.7;
    padding-top: 16px;
}
 span{
    opacity: 1;
}
.hero__sup_img{
    border-radius: 30px;
    max-width: 263px;
    padding-bottom: 75px;
}
@media screen and (max-width:885px) {
    body{
        background-image: url('../../img/hero-tablet-img.png');
        background-position: center top;
        background-size: cover;
    }
    .hero__container{
        flex-direction: column-reverse;
    }
    .hero__title{
        font-size: 48px;
        line-height: 56px;
        max-width: 523px;
        padding-bottom: 22px;
        padding-top: 48px;
        text-align: center;
    }
    .hero__sup_img{
        max-width: 159px;
        padding-top: 62px;
    }
    .hero__text{
        text-align: center;
        padding-bottom: 99px;
    }
}
@media screen and (max-width:670px) {
    .hero__title{
        font-size: 32px;
        line-height: 36px;
        max-width: 310px;
        padding: 24px 0 24px 0;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .hero__address{
        flex-direction: column;
       }
   
}

@media screen and (max-width:511px) {
    .hero__address{
        text-align: center;
    }
    .hero__input{
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        padding-right: 158px;
        max-width: 327px;
    }
    .hero__link{
        margin-top: 16px;
        padding: 16px 105px 14px 105px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero__text{
        padding-top: 24px;
        padding-bottom: 99px;
    }
}